<div class="container mx-auto flex justify-between items-center py-4 px-6 static">
    <h1 class="text-2xl font-bold text-gray-900">Silvio Silva</h1>
    <nav>
      <ul class="flex space-x-6">
        <li><a routerLink="/about-me" routerLinkActive="active" class="hover:text-blue-600">About me</a></li>
        <li><a routerLink="/resume" routerLinkActive="active" class="hover:text-blue-600">Resume</a></li>
        <li><a routerLink="/projects" routerLinkActive="active" class="hover:text-blue-600">Projects</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" class="hover:text-blue-600">Contact</a></li>
      </ul>
    </nav>
  </div>
