---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Resume">
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
      <p>Keeping track of my experience</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Senior SDK engineer</h4>
            <h5>2024 - Present</h5>
            <p><em>InvestCloud</em></p>
            <ul>
              <li>SDK Development Angular 19 and AngularJS for InvestCloud Wealth management app , used by over 300 clients.</li>
              <li>Development on Code generation tool for complex site creation using Microsoft C# and ASP.NET </li>
              <li>Development of powershell scripts for CI/CD pipeline on GitLab</li>
              <li>Development of Unit tests with Jest/ karma</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>UI Team Lead</h4>
            <h5>2017 - 2018</h5>
            <p><em>TD Bank, Wealth</em></p>
            <ul>
              <li>UI Lead developer on Webbroker's core platform using Angular 18 , Typescript, HTML5, SCSS, RxJs, material cdk  and NodeJS.</li>
            <li>Integration lead with third-party vendors such as Fincentric  and internal teams such as mobile</li>
            <li>Maintenance of CI/CD groovy build scripts for Jenkins CI/CD</li>
            <li>Implementation of API changes for microservice written in Java 8 and Spring Boot, with SQL Server database </li>
            <li>Guidance of  junior/intermediate developers into writing clean and efficient code on the Web broker platform. </li>

            </ul>
          </div>

          <div class="resume-item">
            <h4>Senior Software Engineer </h4>
            <h5>Nov 2021 - Mar 2022</h5>
            <p><em>TD Bank, Business Banking</em></p>
            <ul>
              <li>Implemented pages for new Interac payments site business banking using Angular12, RxJs, and NgRx.</li>
            <li>Collaborator on design of API endpoints for REST data retrieval. </li>
            
            </ul>
          </div>

          <div class="resume-item">
            <h4>Senior Software Engineer </h4>
            <h5>May 2021 - Oct 2021</h5>
            <p><em>BMO Bank, Wealth</em></p>
            <ul>
              <li>Developed eDocuments page for new BMO InvertorLine site redesign, using micro-frontend on Angular 12. </li>
            <li>Participated in Agile meetings, facilitated conversation and requirements analysis. </li>
            
            </ul>
          </div>

          <div class="resume-item">
            <h4>Senior Software Engineer </h4>
            <h5>Feb 2015 - Mar 2021 </h5>
            <p><em>TD Bank, Wealth</em></p>
            <ul>
              <li>Participated in the complete redesign of the WebBroker website, the trading platform available to retail clients, a site that averages 5.5Million hits a month and has over 30,000 users. </li>
            <li>Redesigned platform and re-wrote several pages on AngularJS and Angular 4+. Designer of solution to work with both sites seamlessly while migration was being developed. </li>
            <li>Created a performance testing tool on NodeJs that automated load tests on real application scenarios for a web-sockets notification system. </li>
            </ul>

          </div>

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <!-- <h3 class="resume-title">Summary</h3> -->
          <!-- <div class="resume-item pb-0">
            <h4>Brandon Johnson</h4>
            <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
            <ul>
              <li>Portland par 127,Orlando, FL</li>
              <li>(123) 456-7891</li>
              <li>alice.barkley@example.com</li>
            </ul>
          </div> -->
          

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Professional Masters of Finances &amp; Capital Markets</h4>
            <h5>2005 - 2006</h5>
            <p><em>Fundacao Getulio Vargas, Brasilia - DF</em></p>
            <p>Fundação Getulio Vargas (FGV) in Brasília is a leading Brazilian institution known for its excellence in education, research, and public policy. It plays a key role in shaping government policies and training professionals in law, administration, and economics. With a strong focus on innovation and governance, FGV Brasília contributes to the development of Brazil’s public and private sectors through high-quality academic programs and influential research.</p>
            <p><a href="https://portal.fgv.br/en" target="_blank">FGV</a></p>
          </div>

          <div class="resume-item">
            <h4>Bachelor of Computer Sciences</h4>
            <h5>1996 - 2003</h5>
            <p><em>Universidade de Brasilia, Brasilia - DF</em></p>
            <p>The Universidade de Brasília (UnB) is one of Brazil’s most prestigious universities, recognized for its academic excellence, research, and commitment to innovation. Founded in 1962, UnB is located in the nation’s capital and plays a vital role in shaping Brazil’s intellectual and scientific landscape. The university offers a wide range of programs across various disciplines, fostering critical thinking and social responsibility. With a vibrant campus and a strong tradition of political and cultural engagement, UnB continues to be a hub for knowledge and progress in Brazil.</p>
            <p><a href="https://international.unb.br/" target="_blank">UnB</a></p>
          </div>

          <h3 class="resume-title">Certifications</h3>
          <div class="resume-item">
            <h4>Certified Cloud Practitioner - 2025</h4>
            <p><em>AWS</em></p>
            <a href="https://www.credly.com/earner/earned/badge/e7b83e77-a4f2-4388-9136-6b5179a6a6bc" target="_blank">Badge</a>
          </div>

          <div class="resume-item">
            <h4>Project Management Professional - 2009</h4>
            <p><em>PMI.org</em></p>
          </div>

          <div class="resume-item">
            <h4>MCP: Microsoft Specialist: Programming in HTML5 with JavaScript and CSS3 - 2013</h4>
            <p><em>Microsoft</em></p>
          </div>

          <div class="resume-item">
            <h4>Microsoft® Certified Technology Specialist: .NET Framework 4, Web Applications - 2011</h4>
            <p><em>Microsoft</em></p>
          </div>

        </div>

        

      </div>

    </div>

  </section><!-- /Resume Section -->
</Layout>