---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.replaceAll('/', ''); 
---
<header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/img/logo.png" alt=""> -->
        <h1 class="sitename">Silvio</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class={currentPath === "" ? "active" : ""}>Home</a></li>
          <li><a href="/about" class={currentPath === "about" ? "active" : ""}>About</a></li>
          <!-- <li><a href="/resume" class={currentPath === "resume" ? "active" : ""}>Resume</a></li> -->
          <!-- <li><a href="/services" class={currentPath === "services" ? "active" : ""}>Services</a></li> -->
          <!-- <li><a href="/portfolio" class={currentPath === "portfolio" ? "active" : ""}>Portfolio</a></li> -->
          <li><a href="/blog" class={currentPath === "blog" ? "active" : ""}>Blog</a></li>
          <!-- <li><a href="/contact" class={currentPath === "contact" ? "active" : ""}>Contact</a></li> -->
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <!-- <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
        <!-- <a href="#" class="instagram"><i class="bi bi-instagram"></i></a> -->
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header>
  